p, h1, h2, h3, h4 ,h5 ,h6, footer, a, .movieDetails
{
color: lightgrey;
background-color: rgb(25, 25, 25);
font-family: Verdana, Geneva, sans-serif;
margin: 0px;
}
h4
{
    padding-top: 5px;
    padding-bottom : 5px;
}
h2
{
   
    width: 450px;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.BigTitle
{
    margin-bottom: 10px;
}
#page-container {
    position: relative;
    min-height: 97vh;
  }
  
#content-wrap {
    padding-bottom: 50px;   
  }
footer
{
text-align: center;
position: relative;
bottom: 0;
width: 100%;
height: 50px;
font-weight: bold;
}
.footer
{
padding-left: 160px;
}
h1 {
    padding-left: 160px;
    padding-top: 20px;
    height:  80px;
    color:  darkred;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;

}
.Movie
{
    height: 170px;
    position: relative;
    max-width: 200px;
    height: 150px;
    margin-bottom: 10px;
    text-align: center;
}
.MovieTitle
{
    padding-top: 5px;
    padding-bottom: 10px;
}
.movieDescription
{
    width: 180px;
    text-align: left;
    margin-left: 10px;
    
}
body
{
    background-color: rgb(15, 15, 15);
}
table
{
    background-color: darkred;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    min-height: 100px;
    width: 800px;
}
th 
{
    background-color: rgb(25, 25, 25);
    border-radius: 10px;

}

.runtime
{   
    text-decoration: underline;
    color:lightgrey;
    position:absolute;
    bottom: 5px;
    right:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 5px;
    
}
.rating
{
    color:lightgrey;
    position:absolute;
    bottom: 5px;
    left:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;

}

.movieDetails
{
    text-align: left;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}
#MovieDetailsTable
{
    max-width: 800px;
}

.sidenav {
  height: auto%;
  width: 160px;
  position: absolute;
  z-index: 1;
  top: 18%;
  left: 0;
  background-color: rgb(25, 25, 25);
  overflow-x: hidden;
  padding-top: 15px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.searchBar
{
    margin: auto;
    margin-top:200px;
    margin-bottom:20px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: lightgrey;
    width: 575px;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  width: 272px;
}
.bar{
  margin-top: 10px;
  background: white;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.main
{
margin-left: 160px;
}

#searchText{
  margin-left: 30px;
  height:45px;
  border:none;
  width:525px;
  font-size:16px;
  outline: none;
}
.buttons{
  padding-top:20px;
  width: 166px;
  margin: auto;
}
#submit{
  background-color: #f5f5f5;
  border:none;
  color:#707070;
  font-size:15px;
  padding: 10px 20px;
  margin:5px;
  border-radius:4px;
  outline:none;
}
#submit:hover{
  border: 1px solid #c8c8c8;
  padding: 9px 19px;
  color:#808080;
}
#submit:focus{
  border:1px solid #4885ed;
  padding: 9px 19px;
}
.checked {
  color: orange;
}
.fa fa-star checked
{
colspan:2;
}

.HelloName
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}