{% extends 'layout.html' %}

<head>
    <title>Home Page</title>
</head>

{% block content %}
<main>
    <div class="searchBar">
        <div class="logo">
            <a href="/"><img alt="COMPSCIFLIX" src="{{ url_for('static', filename='COMPFLIX.png') }}"></a>
    </div>
    <form method="POST" action="">
        {{ form.csrf_token}}
        <div class="bar">
        {{form.searchText}}
        </div>
         <div class="buttons">
        {{form.submit}}
         </div>
    </form></div>
</main>
{% endblock %}
